services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: sivedb
      POSTGRES_USER: sive
      POSTGRES_PASSWORD: sivePass
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5433:5432"

volumes:
  postgres_data: